<%- include('partials/header') %>

<main>
    <h1>
        <%= title %>
    </h1>

    <p>Here are a few of our partner organizations:</p>
    <ul class="org-list">

        <% organizations.forEach(organizations => { %>
        <li><img src="/images/<%= organizations.logo_filename %>"
                alt="<%= organizations.name %> logo">
            <div><strong>
                    <%= organizations.name %>
                </strong><span class="org-contact">
                    <%= organizations.contact_email %>
                </span></div>
        </li>
        <% }); %>
    </ul>
</main>

<%- include('partials/footer') %>