<%- include('partials/header') %>
<main>
    <h1>
        <%= title %>
    </h1>

    <h2><%= projectDetails.title %></h2>
    <p>Description: <%= projectDetails.description %></p>
    <p>Date: <%= projectDetails.project_date.toLocaleDateString() %></p>
    <p>Location: <%= projectDetails.location %></p>
    <p>Organization:<a
            href="/organization/<%= projectDetails.organization_id %>">
            <%=
            projectDetails.organization_name %></a></p>

    <div class="tags">
        <% categories.forEach(category => { %>
        <a href="/category/<%= category.category_id %>" class="tag"><%=
            category.name %></a>
        <% }); %>
    </div>

</main>
<%- include('partials/footer') %>