<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>

    <h2>Upcoming Service Projects</h2>
    <ul>

        <% projects.forEach(projects => { %>
        <li>
            <!--We are formating the date here so that it displays as 6/15/2026 and not the CDT format-->
            Date: <%= projects.project_date.toLocaleDateString() %>
            <br>
            <%= projects.title %> (<%= projects.organization_name %>)
        </li>

        <% }); %>
    </ul>

</main>

<%- include('partials/footer') %>